<h1 class="mt-4">CLiente</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ usuario.id_usuario ? 'Atualizar cadastro' : 'Cadastrar' }}</li>
</ol>
<div class="container">
    <form #usuarioForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col md 12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Usuário salvo/atualizado com sucesso!
                  </div> 
                  <div class="alert alert-danger" role="alert" *ngFor="let erro of erros">
                    {{ erro }}
                  </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Nome:*</label>
                    <input type="text" class="form-control"
                         [(ngModel)]="usuario.nom_usuario" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">CPF:*</label>
                    <input type="text" class="form-control"
                        [(ngModel)]="usuario. cod_cpf" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Telefone:</label>
                    <input type="text" class="form-control"
                        [(ngModel)]="usuario.cod_telefone" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Email:</label>
                    <input type="text" class="form-control"
                         [(ngModel)]="usuario.nom_email" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col md 3">
                <button type="submit" id="" class="btn btn-success" *ngIf="!usuario.id_usuario">
                    <i class="fa fa-save"></i> Salvar
                </button>
                <button type="submit" id="" class="btn btn-primary" *ngIf="usuario.id_usuario">
                    <i class="fa fa-sync-alt"></i> Atualizar
                </button>
                  <button type="button" class="btn btn-danger ml-1" (click)="voltarListagem()">
                    <i class="fa fa-arrow-left"></i> Voltar
                </button>
            </div>
        </div>
    </form>
</div>