<h1 class="mt-4">Bem vindo</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastrar novo cliente</li>
</ol>
<div class="container">
    <form #usuarioForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Nome:*</label>
                    <input type="text" class="form-control"
                             [(ngModel)]="usuario.nom_usuario" nome="nom_usuario">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">CPF:*</label>
                    <input type="text"  [(ngModel)]="usuario. cod_cpf" 
                             class="form-control" nome="cod_cpf">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Telefone:</label>
                    <input type="text" class="form-control"
                            [(ngModel)]="usuario.cod_telefone" nome="cod_telefone">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Email:</label>
                    <input type="text" class="form-control"
                             [(ngModel)]="usuario.nom_email" nome="nom_email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col md 2">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i>Salvar
                </button>
            </div>
        </div>
    </form>
</div>