<h1 class="mt-4">Bem vindo</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastrar novo empréstimo</li>
</ol>
<div class="container">
    <form #usuarioForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col md 12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Emprestimo salvo/atualizado com sucesso!
                  </div> 
                  <div class="alert alert-danger" role="alert" *ngFor="let erro of erros">
                    {{ erro }}
                  </div> 
            </div>
        </div>
        <div class="row">
             <div class="col-md-6">
                <div class="form-group">
                    <label>Nome:</label>
                    <select [compareWith]="compareObjects" [(ngModel)]="emprestimo.usuario.id_usuario" name="usuario">
                    <option *ngFor="let usuario of clientes" [value]="usuario.id_usuario">
                        {{ usuario.nom_usuario }}
                    </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Valor:</label>
                    <input type="number" class="form-control"
                        [(ngModel)]="emprestimo.cod_valor" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Parcelas:</label>
                    <input type="number" class="form-control"
                         [(ngModel)]="emprestimo.cod_numeroParcelas" [ngModelOptions]="{standalone: true}">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Taxa Juros:</label>
                    <input type="number" class="form-control"
                         [(ngModel)]="emprestimo.cod_taxaJuros" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col md 2">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i>  Salvar
                </button>
            </div>
        </div>
    </form>
</div>
