.container{
    width:  100%;
}

input{
    width: 70%;
    text-align: center;
    margin-left: 15%;
}

#button-salvar {
    width: 50%;
    margin-left: 25%;
}

#button-btn-primary{
    margin-right: 30%;
    margin-top: 5%;
}





